body {
    font-family: sans-serif;
}

h1 {
    font-size: 25px;
    line-height: 32px;
    width: 100%;
    text-align: center;
    margin: 40px 0 20px;
    color: darkslategray;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 0 10px;
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.user {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}


.user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.user span {
    color: grey;
    font-size: 14px;
    margin-bottom: 5px;
}

.user a {
    color: #4957c4;
    margin: 0 4px;
    text-decoration: none;
}
